*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky + .hero {
  padding-top: 102px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-container div {
  width: 50%;
  overflow: hidden;
}

/* HEADER SECTION */
header {
  background-color: #3ebfff;
  height: 80px;
  position: relative;
}
header .logo {
  margin: 15px 30px;
  height: 40px;
}
header nav ul {
  padding: 0;
}
header.flex-container {
  justify-content: space-between;
  align-items: center;
}
header .navbar-mobile .flex-container {
  flex-direction: column;
  align-items: center;
}
header nav.navbar-mobile {
  display: none;
  position: absolute;
  z-index: 2;
  background: #fff;
  left: 20px;
  right: 20px;
  top: 100px;
  color: black;
}
header nav.navbar-mobile .navbar-mobile-pointer {
  position: absolute;
  right: 0;
  top: -30px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #fff;
}
header .navbar-mobile a {
  color: black;
}
header .navbar-mobile.visible {
  display: block;
}
header .navbar-toggle {
  display: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.icon-hamburger {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  display: block;
}
header nav .flex-container {
  width: 100%;
  justify-content: space-evenly;
}
header nav li {
  list-style: none;
}
header nav li a {
  display: block;
  padding: 20px;
}
header nav li:hover {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  cursor: pointer;
}
header nav.navbar-mobile li:hover {
  background-color: hsl(51, 100%, 49%);
}

/* HERO SECTION */
.hero {
  background-image: url("./images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  height: 890px;
  position: relative;
}
.hero h1 {
  margin: 0 0 80px 0;
  padding-top: 60px;
  color: #fff;
  font-size: 52px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}
.hero .arrow {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.banner {
  height: 650px;
}
.banner-image {
  background-position: center;
  background-size: cover;
}
.bg-transform {
  background-image: url("./images/desktop/image-transform.jpg");
}
.bg-stand-out {
  background-image: url("./images/desktop/image-stand-out.jpg");
}
.bg-graphic {
  background-image: url("./images/desktop/image-graphic-design.jpg");
}
.bg-photography {
  background-image: url("./images/desktop/image-photography.jpg");
}
.banner-content {
  word-wrap: break-word;
}
.banner-content .wrapper {
  margin: 140px;
  height: 100%;
}
.banner-content h2 {
  font-size: 42px;
  letter-spacing: 1.5px;
}
.banner-content p {
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.banner-content .wrapper a {
  color: black;
  letter-spacing: 1.5px;
}
.banner-content .wrapper a:hover {
  border-bottom: 5px solid black;
}
.transform .banner-content .wrapper a:hover {
  border-color: hsl(51, 100%, 49%);
}
.audiance .banner-content .wrapper a:hover {
  border-color: hsl(7, 99%, 70%);
}
.graphic {
  color: hsl(167, 40%, 24%);
}
.bg-photography h2,
.bg-graphic h2 {
  margin: 400px auto 0;
  text-align: center;
}
.bg-photography p,
.bg-graphic p {
  margin: 20px 150px;
  text-align: center;
}

.testimonials {
  margin: 80px;
}

.testimonials h3 {
  color: hsl(210, 4%, 67%);
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  margin: 100px auto;
  letter-spacing: 1.5px;
}
.testimonials h4 {
  font-family: "Fraunces", serif;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin: 10px;
}
.testimonials h6 {
  color: hsl(210, 4%, 67%);
  margin: 10px;
}

article {
  text-align: center;
  width: 360px;
  margin: 20px;
}
article p {
  color: hsl(213, 9%, 39%);
  margin-bottom: 50px;
}

article img {
  height: 60px;
  border-radius: 50%;
}

.gallery picture {
  width: 100%;
}
.gallery img {
  width: 25%;
}

/* FOOTER SECTION */
.footer {
  text-align: center;
  background-color: #90d4c5;
  padding: 50px;
}
.footer .logo {
  margin: 20px;
  height: 35px;
}
.footer nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer nav ul li {
  width: 100px;
  margin: 20px;
}
.footer nav a {
  color: #2b7264;
}
footer nav a:hover {
  color: #fff;
}
.social {
  width: 100%;
}
.social a {
  margin: 20px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.social a:hover {
  color: #fff;
}

/* MEDIA QUERY FOR TABLET DEVICES */
@media only screen and (max-width: 769px) {
  .hero {
    background-image: url("./images/mobile/image-header.jpg");
  }
  .bg-transform {
    background-image: url("./images/mobile/image-transform.jpg");
  }
  .bg-stand-out {
    background-image: url("./images/mobile/image-stand-out.jpg");
  }
  .bg-graphic {
    background-image: url("./images/mobile/image-graphic-design.jpg");
  }
  .bg-photography {
    background-image: url("./images/mobile/image-photography.jpg");
  }
  .hero {
    height: 950px;
  }
  .banner-content .wrapper {
    margin: 50px auto !important;
  }
  .hero h1 {
    font-size: 42px !important;
  }
  .banner-content h2 {
    font-size: 32px !important;
  }
  .bg-photography p,
  .bg-graphic p {
    margin: 20px 20px;
  }

  .testimonials {
    margin: 30px;
  }
  .testimonials h3 {
    margin: 60px;
  }
  header nav .flex-container {
    width: auto;
  }
  header nav li a {
    padding: 10px;
  }
}

/* MEDIA QUERY FOR MOBILE DEVICES */
@media only screen and (max-width: 600px) {
  header .logo {
    margin: 15px;
  }
  header nav {
    display: none;
  }
  header nav.visible {
    display: block;
  }
  header .navbar-toggle {
    margin: 15px;
    display: block;
  }
  .hero h1 {
    font-size: 42px !important;
  }
  .banner {
    height: auto;
  }
  .flex-container div,
  .banner-content {
    width: auto !important;
    height: auto !important;
  }
  .banner-content .wrapper {
    margin: 50px 0;
    text-align: center;
  }
  .banner-content h2 {
    font-size: 32px !important;
    margin: 20px;
  }
  .banner-content p {
    margin: 20px;
  }
  .testimonials,
  .bg-photography p,
  .bg-graphic p {
    margin: 20px;
  }

  .testimonials h3 {
    margin: 50px 20px;
  }

  article {
    width: 100%;
    margin: 30px auto;
  }

  .gallery.flex-container {
    flex-wrap: wrap;
  }
  .gallery.flex-container picture,
  .gallery.flex-container img {
    width: 50%;
  }

  .graphic.flex-container,
  .testimonials .flex-container {
    flex-direction: column;
  }
  .graphic {
    height: auto;
  }
  .bg-photography h2,
  .bg-graphic h2 {
    margin: 450px auto auto;
  }

  .transform.flex-container {
    flex-direction: column-reverse;
  }
  .audiance.flex-container {
    flex-direction: column;
  }
  .banner-content {
    height: 100px;
  }
  .banner-image.bg-transform,
  .banner-image.bg-stand-out {
    height: 300px !important;
  }
}
